{% extends 'base.html' %}

{% block title %}500 - Server Error{% endblock title %}

{% block home_nav %}active{% endblock home_nav%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body bg-danger">
                    <h5 class="card-title">Server Error: 500</h5>
                    <p class="card-text">The HTTP 500 Internal Server Error server error response status code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request. 
                        This error is a generic "catch-all" response to server issues, indicating that the server cannot find a more appropriate 5XX error to respond with.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}