{% extends 'base.html' %}

{% block title %}Home - Public{% endblock title %}

{% block home_nav %}active{% endblock home_nav%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body bg-danger">
                    <h5 class="card-title">Home - Public</h5>
                    <p class="card-text">This is shown as home page if you are not authenticated</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}